.bandeau {
    display: flex;
    justify-content: center; 
    align-items: flex-start; 
    background-color: rgb(121, 6, 4); 
    padding: 75px; 
  }
p {
    margin: 35px;
    font-size: 55px;
    color: rgb(255, 0, 0);

}
